.animate-pop-in {
  animation: pop-in .6s ease-out forwards;
}
.App-header{
  background-image: url('./pencils.jpg');
  background-size: cover; 
  height: 100vh;
}
.App-header-false {
  background-image: url('./pencils.jpg');
  background-size: cover; 
  height: 40vh;
}
.App {
  margin: 0;
  padding: 0;
}
.App-intro {
  font-size: large;
}
a:link {
  text-decoration: none;
}
.button {
  padding: 10px; 
  font-family: monospace;
  color: whitesmoke;
  background-color: #F50057;
  font-size: 1.1em;
  box-shadow: 2px 3px 3px rgba(115, 115, 115, .5);
  border-radius: 5px;
}
.button:hover {
  box-shadow: 3px 5px 5px rgba(115, 115, 115, 5);
}
.center {
  text-align: center;
}
.card-icon {
  height: 25px;
}
.close-icon {
  font-size: 1.1em;
  font-weight: 200;
  color: gray;
  cursor: pointer;
}
.dialog {
  padding: 10px;
}
.flex-box {
  display: flex; 
  flex-direction: row;
  flex-wrap: wrap;
}
.flex-between {
  justify-content: space-between;
}
.flex-center {
  justify-content: center;
}
.flex-end {
  justify-content: flex-end;
}
.flex-evenly {
  justify-content: space-evenly;
}
.flex-col {
  display: flex; 
  flex-direction: column;
  flex-wrap: wrap;
}
.form-zone {
  margin-top: 10vh;
  padding: 10vh;
}
.image-icon{
  height: 25px;
  margin-left: 50px;
}
h4 {
  font-weight: 300;
}
input {
  border: 0 solid transparent;
  border-bottom: 1px solid black;
  background-color: transparent;
  width: 100%;
  padding: 10px;
  font-size: 15px;
}
.instructions {
  padding: 5vh; 
  background-color: rgba(115, 115, 115, .1);
  margin: 5vh;
}
label {
  padding: 8px; 
  font-family: monospace;
  font-size: 1.1em;
}
.margin-top-15 {
  margin-top: 15px;
}
.results {
  padding: 5vh;
  background-color: white;
  margin: 10px;
  box-shadow: 2px 3px 4px rgba(115, 115, 115, .8);
  font-weight: 300;
}
.results:hover {
  box-shadow: 4px 6px 6px rgba(115, 115, 115, .8);
}
select {
  font-family: monospace;
  background-color: white;
  font-size: 1.1em;
}
.selected-image {
background-color: #F50057;
padding: 10px;
}
.slider {
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor: pointer;
  display: inline;
}
.slider-div {
  padding: 10px;
  background-color: rgba(115, 115, 115, .1);
  margin: 5px;
}
.emphasis-word{
  font-weight: bold; 
  font-size: 1.1em; 
}
h2 {
  font-weight: 400;
  font-size: 2.4em;
  text-shadow: 2px 2px 2px rgba(115, 115, 115, .2);
}
.header-text{
  color: beige; 
  font-size: 3.5em; 
  text-shadow: 3px 3px #ff0000;
  margin-top: 25vh;
}
html, body {
  margin: 0;
  padding: 0;
}
.full-img {
  max-width: 100%;
}
.main {
  margin-bottom: 25vh;
}
.text-left {
  text-align: left;
}
.thumbnail img {
  height: 150px;
   border: 1px solid rgba(115, 115, 115, .1);
   cursor: pointer;
}
/* For mobile: */
[class*="column-"] {
  width: 100%;
}
@media only screen and (min-width: 600px) {
  /* For tablets: */
  .column-md-1 {width: 8.33%;}
  .column-md-2 {width: 16.66%;}
  .column-md-3 {width: 25%;}
  .column-md-4 {width: 33.33%;}
  .column-md-5 {width: 41.66%;}
  .column-md-6 {width: 50%;}
  .column-md-7 {width: 58.33%;}
  .column-md-8 {width: 66.66%;}
  .column-md-9 {width: 75%;}
  .column-md-10 {width: 83.33%;}
  .column-md-11 {width: 91.66%;}
  .column-md-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .column-1 {width: 8.33%;}
  .column-2 {width: 16.66%;}
  .column-3 {width: 25%;}
  .column-4 {width: 33.33%;}
  .column-5 {width: 41.66%;}
  .column-6 {width: 50%;}
  .column-7 {width: 58.33%;}
  .column-8 {width: 66.66%;}
  .column-9 {width: 75%;}
  .column-10 {width: 83.33%;}
  .column-11 {width: 91.66%;}
  .column-12 {width: 100%;}
}

/* Animations */

@keyframes pop-in {
  0% {
    opacity: 0;
    transform: translateY(-4rem) scale(.8);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}