.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
label {
  padding: 8px; 
}
.slider {
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor: pointer;
}
#emphasis-word{
  font-weight: bold; 
  font-size: 1.1em; 
}
a:link {
    text-decoration: none;
}
