.App {
  text-align: center;
}

.App-header{
  background-color: #033076;
  background-image: url('../App/swisschard.jpg');
  background-size: cover; 
  width: 100%;
  min-height: 175px;
  padding: 20px;
}

.App-intro {
  font-size: large;
}
a:link {
  text-decoration: none;
}
label {
  padding: 8px; 
}
textarea{
  border-radius: 10px; 
  max-width: 400px; 
  max-height: 150px; 
  margin: 10px;
  font-size: 16px; 
  padding: 10px; 
}
.slider {
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  cursor: pointer;
}
.emphasis-word{
  font-weight: bold; 
  font-size: 1.1em; 
}
.header-text{
  color: beige; 
  font-size: 3.5em; 
  text-shadow: 3px 3px #ff0000;

}
.form-view{
  height: 100%; 
  padding: 50px; 
}
